@font-face {
  font-family: "Aspekta";
  src: url('../../fonts/aspekta/Aspekta-400.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aspekta";
  src: url('../../fonts/aspekta/Aspekta-650.ttf');
  font-weight: 650;
  font-style: bold;
}
