@font-face {
  font-family: "Suisse Intl";
  src: url('../../../fonts/suisse-intl/SuisseIntl-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Intl";
  src: url('../../../fonts/suisse-intl/SuisseIntl-SemiBold.otf') format('otf');
  font-weight: 650;
  font-style: bold;
}
